.blog--MpCards {
  margin-top: 25px;
  border: 2px solid #ffb703;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  text-align: start;
}

.blog--img--main {
  width: 100px;
  height: 60px;
  position: absolute;
  margin-left: 260px;
  margin-top: 10px;
}

.blog--MpCards--cat {
  display: inline-block;
  color: rgb(94, 94, 94);
  font-size: 16px;
  font-weight: 500;
}

.blog--MpCards--date {
  display: inline-block;
  color: rgb(94, 94, 94);
  font-size: 14px;
  margin-left: 5px;
}

.blog--MpCards--title {
  width: 230px;
  font-weight: 600;
}

.blog--card--container {
  margin-left: -50px;
}

@media (max-width: 480px) {
  .blog--MpCards--title {
    width: 200px;
  }
  .blog--img--main {
    margin-left: 200px;
  }
  .blog--MpCards {
    width: 330px;
  }
}
