.about {
  text-align: center;
}

.about-heading {
  margin-top: 6%;
  font-size: 1.4rem;
  position: relative;
}

.about-heading .heading-2 span {
  color: #02c39a;
}

.about-heading::before,
.about-heading::after {
  content: '';
  width: 50%;
  height: 3px;
  border-radius: 4px;
  background-color: #ffb703;
  position: absolute;
}

.about-heading::before {
  top: -30px;
  right: 0;
}

.about-heading::after {
  left: 0;
  bottom: -30px;
}

.about-main-heading {
  margin-top: 5%;
  color: #02c39a;
  text-align: center;
  font-size: 2rem;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  flex-wrap: wrap;
  margin: 50px;
}

@media screen and (max-width: 780px) {
  .about-heading {
    font-size: 1.3rem;
  }

  .about-main-heading {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 700px) {
  .about-heading {
    font-size: 1.2rem;
  }

  .about-main-heading {
    margin-top: 7%;
  }
}

@media screen and (max-width: 600px) {
  .about-heading {
    font-size: 1rem;
  }

  .about-main-heading {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 460px) {
  .about-heading {
    font-size: 0.8rem;
  }

  .about-main-heading {
    font-size: 1.5rem;
    margin-top: 8%;
  }
}

@media screen and (max-width: 400px) {
  .about-heading {
    font-size: 0.6rem;
  }

  .about-main-heading {
    font-size: 1.3rem;
    margin-top: 15%;
  }
}
