.blog {
  padding: 70px 1% 70px 0px;
  overflow-x: hidden;
}

.blog--main {
  background-color: #f4f4f4;
  width: 60%;
  display: inline-block;
  border-radius: 5px;
  padding: 50px 60px 50px 60px;
  margin-left: 20px;
}

.blog--latest--head {
  font-size: 42px;
  margin-top: -8px;
  text-align: start;
}

.blog--author--name {
  display: inline-block;
  margin-top: 15px;
  font-weight: 500;
}

.blog--latest--date {
  display: inline-block;
  margin-left: 40px;
  font-weight: 300;
  font-size: 14px;
}

.blog--latest--details {
  font-size: 18px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog--latest--details--intro {
  width: 80%;
}

.blog--latest--author {
  text-align: start;
}

.blog--latest--img--plc {
  width: 400px;
  padding-bottom: 50px;
}

.blog--mp {
  margin: 10px 10px 20px 50px;
  display: inline-block;
  vertical-align: top;
}

.blog--mp--head {
  font-size: 28px;
  text-align: start;
}

.blog--mp--hr {
  margin-top: 5px;
  width: 380px;
  height: 2px;
  background-color: #e6e6e6;
}

.blog--latest--category {
  color: #02c39a;
  text-align: start;
}

.blog--feature {
  width: 100%;
  margin-top: 50px;
}

.blog--lm--btn {
  background-color: white;
  border: 2px solid #ffb703;
  font-weight: 600;
  color: #02c39a;
  width: 140px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 80px;
  transition: 0.3s;
}

.blog-heading {
  width: 100%;
  text-align: center;
  margin-top: 125px;
  font-size: 1.4rem;
  margin-bottom: 100px;
}

.blog-heading::after,
.blog-heading::before {
  content: "";
  width: 50%;
  height: 4px;
  border-radius: 4px;
  margin-top: -50px;
  background-color: #ffb703;
  position: absolute;
}

.blog-heading--main {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 150px;
}

.blog-heading::after {
  left: 0;
  margin-top: 50px;
}

.blog--lm--btn:hover {
  background-color: #ffe49f;
}

@media (max-width: 1165px) {
  .blog--main {
    width: 90%;
    margin-left: 0px;
    padding: 20px 30px 20px 30px;
  }
  .blog--latest--img--plc {
    width: 80%;
  }
  .blog--latest--head {
    font-size: 32px;
  }
  .blog--latest--details--intro {
    width: 95%;
  }
  .blog--mp {
    margin-top: 60px;
    margin-left: -0px;
  }
  .blog--mp--head {
    margin-left: 10px;
  }
}

@media (max-width: 680px) {
  .blog-heading {
    font-size: 0.8rem;
  }
}
