.gallery {
  text-align: center;
  margin-bottom: 10%;
}

.gallery-heading {
  margin-top: 5%;
  font-size: 1.4rem;
  position: relative;
}

.gallery-heading::before,
.gallery-heading::after {
  content: '';
  width: 50%;
  height: 3px;
  border-radius: 4px;
  background-color: #ffb703;
  position: absolute;
}

.gallery-heading::before {
  top: -30px;
  right: 0;
}

.gallery-heading::after {
  left: 0;
  bottom: -30px;
}

.gallery-main-heading {
  margin-top: 6%;
  color: #02c39a;
  text-align: center;
  font-size: 2rem;
  position: relative;
}

.gallery-container {
  margin-top: 5%;
}

.gallery-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 100px 0;
}

.gallery-content-image img {
  width: 500px;
}

.gallery-content-text {
  text-align: left;
  width: 45%;
}

.text-head {
  font-size: 25px;
  font-weight: 700;
  position: relative;
}

.text-head::after {
  content: '';
  width: 97%;
  position: absolute;
  height: 4px;
  border-radius: 5px;
  background-color: #02c39a;
  left: 0;
  bottom: -5px;
}

.text-description {
  margin-top: 5%;
}

@media screen and (max-width: 950px) {
  .gallery-content {
    flex-direction: column;
  }
}

@media screen and (max-width: 780px) {
  .gallery-heading {
    font-size: 1.3rem;
  }

  .gallery-main-heading {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 700px) {
  .gallery-heading {
    font-size: 1.2rem;
  }

  .gallery-main-heading {
    margin-top: 7%;
  }
}

@media screen and (max-width: 625px) {
  .gallery-content-text {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .gallery-heading {
    font-size: 1rem;
  }

  .gallery-main-heading {
    font-size: 1.5rem;
  }

  .gallery-content-image img {
    width: 435px;
  }
}

@media screen and (max-width: 460px) {
  .gallery-heading {
    font-size: 0.8rem;
  }

  .gallery-main-heading {
    font-size: 1.5rem;
    margin-top: 8%;
  }
}

@media screen and (max-width: 400px) {
  .gallery-heading {
    font-size: 0.6rem;
  }

  .gallery-main-heading {
    font-size: 1.3rem;
    margin-top: 15%;
  }

  .gallery-content-image img {
    width: 318px;
  }

  .text-head {
    font-size: 20px;
  }

  .text-description {
    margin-top: 6%;
  }
}
