.video--cards--li {
  width: 100%;
  padding: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.video--card--container {
  position: relative;
}

iframe {
  width: 450px;
  height: 280px;
  position: relative;
}

.video--card--details {
  width: 50%;
  margin-left: 50px;
  text-align: left;
}

.video--card--details--ri {
  width: 50%;
  margin-right: 50px;
  text-align: left;
}

.video--card--container--ri {
  position: relative;
}

.video--card--details--head {
  font-size: 24px;
  width: fit-content;
  font-weight: 500;
}

.video--card--details--head::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #02c39a;
}

.video--card--details--body {
  margin-top: 30px;
}

@media (max-width: 960px) {
  .video--cards--li {
    flex-direction: column;
  }
  .video--card--details,
  .video--card--details--ri {
    width: 80%;
    margin-top: 20px;
    margin-left: 0px;
  }

  .video--card--details--ri {
    margin-left: 40px;
  }

  .video--cards--ri {
    flex-direction: column-reverse;
  }
}

@media (max-width: 530px) {
  iframe {
    width: 360px;
    height: 210px;
  }
}
