.card {
  width: 280px;
  text-align: center;
  border-radius: 10px;
  border: 3px solid #ffb703;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  background-color: #f8f9fa;
  box-shadow: 0 0px 15px rgb(201, 201, 201);
}

.text {
  font-size: 14px;
}

.hr {
  width: 25%;
  height: 3px;
  background-color: #02c39a;
  border-radius: 3px;
  margin: 8px 0px;
}

.card-img img {
  border-radius: 50%;
  object-fit: cover;
  object-position: -15px 0px;
  box-shadow: 0 0px 15px rgb(113, 106, 106);
}
